/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.footer{
    padding-top: 100px;
    overflow: hidden;
}
/* ul, li, p {
    padding: 0;
    margin: 0;
} */
/* body{
    background: rgb(138, 137, 137);
    font-family: Inter;
} */
.footer-wrapper{
    background-image: url(../img/footer/footer-bg-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 150px 0;
}
.footer-fast-item{
    position: relative;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content{
    position: absolute;
}
.footer-title-content{
    background-image: url(./images/content-bg.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    text-align: center;
    width: 100%;
}
.footer-title-content .title-gradient{
    background: linear-gradient(250deg, #441DB9 20.73%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.footer-title-content h3{
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}
.footer-title-content h1{
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 900;
}
.footer-title-content p{
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
    color: #fff;
}
.footer-vorteile-item h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    background: linear-gradient(176deg, #451EB9 0%, #B22AB1 52.92%, #D20E3A 86.64%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
margin-bottom: 40px;
}
.footer-vorteile-item ul li{
    font-size: 25px;
    color: #fff;
}
.vorteile-list{
    position: relative;
    padding-right: 10px;
}
.vorteile-list::before{
    content: '';
    position: absolute;
    left: -37px;
    height: 100%;
    width: 2px;
    background-color: #fff;
}
.footer-title-btn-item .footer-btn{
padding: 5px 30px;
border-radius: 50px;
color: #fff;
font-size: 18px;
}
.footer-title-btn-item .footer-btn-1{
    background:#007AFF;
    border: none;
}
.footer-title-btn-item .footer-btn-2{
    border: 1px solid #fff;
    background: none;
}
/* bottom */
.footer-bottom-wrapper{
    background-image: url(../img/footer/bootom-bg-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 100px 0;
    position: relative;
    top: -210px;
}
.footer-all-service-item .service-item-card span{
    font-size: 14px;
    color: #FFF;
}
.footer-all-service-item .service-item-card .service-title{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
position: relative;
    color: #fff;
} 
.footer-all-service-item .service-item-card .service-title::before{
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width:100%;
    background-color: #fff;
}

.footer-all-service-item .service-item-card ul{
    margin-top: 25px;
}
.footer-all-service-item .service-item-card ul li{
    list-style: none;
    font-size: 25px;
    color: #FFF;
    font-weight: 700;
}
.social-media-wrapper .follow-title{
    font-size: 30px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    background: radial-gradient(469.05% 92.64% at 46.45% 50.00%, #F7F7F7 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.social-media-wrapper a{
    text-align: center;
}
.social-media-wrapper a img{width: 80px;}
.footer-glossar .glossar-card-item h2{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
position: relative;
    color: #fff;
}
.footer-glossar .glossar-card-item p{
    font-size: 16px;
    color: #fff;
}
.glossar-card-btn{
    padding: 5px 30px;
border-radius: 50px;
color: #fff;
font-size: 18px;
border: 1px solid #fff;
background: none;
}
.language-change-items a{
    color: #fff;
    font-size: 18px;
}
.language-change-items a:hover{
    color: #fff;
}
.footer-item-links a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.footer-logo-img img{
    width: 60%;
    text-align: center;
    margin: auto;
}
.footer-item-links a:hover{
    color: #fff;
}
.footer-bottom-content-con p{
    color: #fff;
    font-size: 18px;
}
.mobile-services-item{
    display: none;
}
.glossar-card-item-mobile{
    display: none;
}
button.revolution-btn {
    display: none;
}
/* Footer  Responsive  */
@media screen and (max-width: 1240px) {
    .footer-wrapper{
background-position: center;
    }
    .footer-bottom-wrapper{
background-position: center;
    }
}
@media screen and (max-width: 992px) {
.vorteile-li-list{
    display: none;
}
.footer-vorteile-item ul li{
    font-size: 18px;
    list-style: none;
    text-decoration: underline;
    padding: 10px 0;
}
.vorteile-list::before{
    display: none;
}
.footer-title-content h3 {
    font-size: 30px;
}
.footer-title-content h1 {
    font-size: 52px;
    line-height: 60px;
}
.footer-title-content p {
    font-size: 18px;
}
.footer-vorteile-item h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}
.revolution-btn{
    padding: 5px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    background:#007AFF;
    border: none;
}
.footer-all-service-item .service-item-card ul li {
    font-size: 20px;
}
footer-all-service-item .service-item-card .service-title {
    font-size: 40px;
}
.glossar-card-item p{
    display: none;
}
.footer-all-service-item{
    flex-direction: column;
}
.footer-all-service-item{
    display: none !important;
}
.mobile-services-item{
    display: block;
}
.mobile-services-item .accordion-item{
    background-color: #000 !important;
color: #fff;
font-weight: 600;
} 
button.accordion-button.collapsed {
    background: none;
    color: #fff;
font-weight: 600;
font-size: 25px;
}
.accordion-button {
    font-size: 25px;
    padding: 10px 20px;
}
.accordion-button-2 {
    color: #fff;
    background-color: #000;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #000;
}
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #000;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.footer-glossar .glossar-card-item{
    display: none;
}
.social-media-wrapper{
    margin-top: 25px;
    flex-direction: inherit !important;
}
.social-media-wrapper a img {
    width: 30px;
}
.social-media-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-wrapper .follow-title {
    font-size: 22px;
}
.language-change-items{
    display: none;
}
.footer-bottom-wrapper {
    padding: 100px 0 63px 0;
    position: relative;
    top: -210px;
}
.accordion-body .list-service{
    list-style: none;
}
}