.footer {
    padding-top: 0px;
    overflow: hidden;
    margin-top: -270px;
    z-index: 100;
    position: relative;
}

.footer-wrapper {
    padding: 150px 0 150px 0;
    background: #ddd;
    border-radius: 70px 70px 0 0;
    -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    position: relative;
    clip-path: polygon(0% 8.532%, 0% 8.532%, 0.077% 7.07%, 0.298% 5.693%, 0.65% 4.419%, 1.121% 3.27%, 1.696% 2.264%, 2.363% 1.421%, 3.108% 0.761%, 3.918% 0.305%, 4.78% 0.07%, 5.68% 0.078%, 50.26% 6.689%, 94.315% 0.088%, 94.315% 0.088%, 95.216% 0.079%, 96.078% 0.312%, 96.889% 0.768%, 97.634% 1.427%, 98.302% 2.27%, 98.878% 3.276%, 99.349% 4.426%, 99.702% 5.7%, 99.923% 7.078%, 100% 8.541%, 100% 100%, 0% 100%, 0% 8.532%);
}

.footer-fast-item {
    position: relative;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 50px;
    /* border-radius: 100px; */
    -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    padding-top: 140px;
    clip-path: polygon(0.321% 9.564%, 0.321% 9.564%, 0.416% 7.993%, 0.691% 6.513%, 1.129% 5.147%, 1.714% 3.915%, 2.429% 2.838%, 3.256% 1.938%, 4.181% 1.237%, 5.185% 0.754%, 6.253% 0.513%, 7.367% 0.533%, 49.598% 6.449%, 49.598% 6.449%, 49.725% 6.465%, 49.852% 6.477%, 49.979% 6.486%, 50.106% 6.491%, 50.233% 6.493%, 50.36% 6.491%, 50.487% 6.486%, 50.614% 6.477%, 50.741% 6.464%, 50.868% 6.448%, 92.627% 0.543%, 92.627% 0.543%, 93.742% 0.522%, 94.811% 0.762%, 95.816% 1.244%, 96.741% 1.945%, 97.569% 2.845%, 98.284% 3.922%, 98.87% 5.154%, 99.308% 6.521%, 99.584% 8.001%, 99.679% 9.573%, 99.679% 81.548%, 99.679% 81.548%, 99.611% 82.876%, 99.411% 84.149%, 99.09% 85.351%, 98.655% 86.467%, 98.117% 87.483%, 97.485% 88.382%, 96.767% 89.152%, 95.973% 89.776%, 95.111% 90.239%, 94.192% 90.527%, 51.021% 99.446%, 51.021% 99.446%, 50.837% 99.48%, 50.652% 99.507%, 50.467% 99.526%, 50.282% 99.537%, 50.096% 99.541%, 49.911% 99.537%, 49.725% 99.526%, 49.54% 99.507%, 49.355% 99.481%, 49.171% 99.446%, 5.812% 90.523%, 5.812% 90.523%, 4.892% 90.236%, 4.03% 89.773%, 3.235% 89.149%, 2.517% 88.38%, 1.884% 87.48%, 1.346% 86.464%, 0.911% 85.348%, 0.589% 84.146%, 0.389% 82.872%, 0.321% 81.543%, 0.321% 9.564%);
}

.footer-content {
    /* position: absolute; */
}

.footer-title-content {
    background-image: url(../img/footer/content-bg.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.footer-title-content .title-gradient {
    background: linear-gradient(250deg, #441DB9 20.73%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-title-content h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.footer-title-content h1 {
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 900;
}

.footer-title-content p {
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
}

.footer-vorteile-item h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    background: linear-gradient(176deg, #451EB9 0%, #B22AB1 52.92%, #D20E3A 86.64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 40px;
}

.footer-vorteile-item ul li {
    font-size: 25px;
    padding: 10px 0;
    line-height: 116%;
    background: radial-gradient(168.66% 190.05% at 46.74% 10.21%, #E3E3E3 18.81%, rgba(255, 255, 255, 0.21) 59.06%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    list-style: disc;
}

.vorteile-list {
    position: relative;
    padding: 0 10px;
}

.vorteile-list::before {
    content: '';
    position: absolute;
    left: -37px;
    height: 100%;
    width: 2px;
    background-color: #fff;
}

.footer-title-btn-item .footer-btn {
    padding: 5px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
}

.footer-title-btn-item .footer-btn-1 {
    background: #007AFF;
    border: none;
}

.footer-title-btn-item .footer-btn-2 {
    border: 1px solid #fff;
    background: none;
}

/* bottom */
.footer-bottom-wrapper {
    padding: 232px 0 0px 0;
    position: relative;
    top: -107px;
    background: #000;
    -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(0% 8.532%, 0% 8.532%, 0.077% 7.07%, 0.298% 5.693%, 0.65% 4.419%, 1.121% 3.27%, 1.696% 2.264%, 2.363% 1.421%, 3.108% 0.761%, 3.918% 0.305%, 4.78% 0.07%, 5.68% 0.078%, 50.26% 6.689%, 94.315% 0.088%, 94.315% 0.088%, 95.216% 0.079%, 96.078% 0.312%, 96.889% 0.768%, 97.634% 1.427%, 98.302% 2.27%, 98.878% 3.276%, 99.349% 4.426%, 99.702% 5.7%, 99.923% 7.078%, 100% 8.541%, 100% 100%, 0% 100%, 0% 8.532%);
    border-radius: 0;
}

.footer-all-service-item .service-item-card span {
    font-size: 14px;
    color: #FFF;
}

.footer-all-service-item .service-item-card .service-title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    position: relative;
    color: #fff;
    background: linear-gradient(249deg, #fff 50.30%, #181818 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-all-service-item .service-item-card .service-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.footer-all-service-item .service-item-card ul {
    margin-top: 25px;
    background: linear-gradient(249deg, #fff 50.30%, #181818 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-all-service-item .service-item-card ul li {
    list-style: none;
    font-size: 25px;
    color: #FFF;
    font-weight: 700;
    padding: 5px 0;
}

.social-media-wrapper .follow-title {
    font-size: 30px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    background: radial-gradient(469.05% 92.64% at 46.45% 50.00%, #F7F7F7 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-media-wrapper a {
    text-align: center;
}

.social-media-wrapper a img {
    width: 80px;
}

.footer-glossar {
    border-top: 3px solid #fff;
    padding-top: 20px;
}

.footer-glossar .glossar-card-item h2 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.footer-glossar .glossar-card-item p {
    font-size: 16px;
    color: #fff;
    text-align: justify;
}

.glossar-card-btn {
    padding: 5px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    background: none;
}

.language-change-items a {
    color: #fff;
    font-size: 18px;
}

.language-change-items a:hover {
    color: #fff;
}

.footer-item-links a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer-logo-img img {
    width: 60%;
    text-align: center;
    margin: auto;
}

.footer-item-links a:hover {
    color: #fff;
}

.footer-bottom-content-con p {
    color: #fff;
    font-size: 18px;
}

.mobile-services-item {
    display: none;
}

.glossar-card-item-mobile {
    display: none;
}

button.revolution-btn {
    display: none;
}

/* Footer  Responsive  */
@media screen and (max-width: 1240px) {
    .footer-wrapper {
        background-position: center;
    }

    .footer-bottom-wrapper {
        background-position: center;
    }
}

@media screen and (max-width: 992px) {
    .vorteile-li-list {
        display: none;
    }

    .footer-vorteile-item ul li {
        font-size: 28px;
        list-style: none;
        text-decoration: underline;
        padding: 10px 0;
        font-weight: 700;
        border-bottom: 2px solid #ddd;
    }

    .vorteile-list::before {
        display: none;
    }

    .footer-title-content h3 {
        font-size: 30px;
    }

    .footer-title-content h1 {
        font-size: 52px;
        line-height: 60px;
    }

    .footer-title-content p {
        font-size: 18px;
    }

    .footer-vorteile-item h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .revolution-btn {
        padding: 5px 30px;
        border-radius: 50px;
        color: #fff;
        font-size: 18px;
        background: #007AFF;
        border: none;
    }

    .footer-all-service-item .service-item-card ul li {
        font-size: 20px;
    }

    footer-all-service-item .service-item-card .service-title {
        font-size: 40px;
    }

    .glossar-card-item p {
        display: none;
    }

    .footer-all-service-item {
        flex-direction: column;
    }

    .footer-all-service-item {
        display: none !important;
    }

    .mobile-services-item {
        display: block;
    }

    .mobile-services-item .accordion-item {
        background-color: #000 !important;
        color: #fff;
        font-weight: 600;
    }

    button.accordion-button.collapsed {
        background: none;
        color: #fff;
        font-weight: 600;
        font-size: 50px;
        text-align: center;
    }

    .accordion-button {
        font-size: 50px;
        padding: 10px 20px;
        font-weight: 600;
    }

    .accordion-button-2 {
        color: #fff;
        background-color: #000;
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: #000;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #000;
    }

    .accordion-button:not(.collapsed) {
        color: #fff;
        background-color: #000;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    }

    .footer-glossar .glossar-card-item {
        display: none;
    }

    .social-media-wrapper {
        margin-top: 25px;
        flex-direction: inherit !important;
    }

    .social-media-wrapper a img {
        width: 30px;
    }

    .social-media-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-media-wrapper .follow-title {
        font-size: 22px;
    }

    .language-change-items {
        display: none;
    }

    .footer-bottom-wrapper {
        padding: 100px 0 63px 0;
        position: relative;
        top: 0;
        margin-top: -67px;
        border-radius: 40px;
    }

    .accordion-body .list-service {
        list-style: none;
    }
}


/* ============ Company Section Start ================= */
.company-service-section {
    padding: 200px 0 138px 0;
    position: relative;
    top: -133px;
    background: #000;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 7%);
    /* border-radius: 143px; */
    clip-path: polygon(0% 8.532%, 0% 8.532%, 0.077% 7.07%, 0.298% 5.693%, 0.65% 4.419%, 1.121% 3.27%, 1.696% 2.264%, 2.363% 1.421%, 3.108% 0.761%, 3.918% 0.305%, 4.78% 0.07%, 5.68% 0.078%, 50.26% 6.689%, 94.315% 0.088%, 94.315% 0.088%, 95.216% 0.079%, 96.078% 0.312%, 96.889% 0.768%, 97.634% 1.427%, 98.302% 2.27%, 98.878% 3.276%, 99.349% 4.426%, 99.702% 5.7%, 99.923% 7.078%, 100% 8.541%, 100% 100%, 0% 100%, 0% 8.532%);
}

.company-slider-wrapper .company-title-section {
    background: linear-gradient(249deg, #FFF 24.30%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.company-slider-wrapper .company-title-section span {
    font-size: clamp(20px, 3.4vw, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.company-slider-wrapper .company-title-section h1 {
    color: #FFF;
    font-family: Inter;
    font-size: clamp(35px, 5.4vw, 96px);
    font-style: normal;
    font-weight: 700;
    /* line-height: 81px; */
    /* letter-spacing: -5.28px; */
}

.company-list-item p {
    color: #FFF;
    /* font-size: clamp(14px, 1.4vw, 24px); */
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
}

.company-list-item p span {
    color: #9E9E9E;
    /* font-size: clamp(14px, 3.4vw, 24px); */
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
}

.company-list-item .company-user-titles a {
    color: #fff;
    /* font-size: clamp(14px, 3.4vw, 24px); */
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
}

.company-list-item .company-user-titles span {
    color: #9E9E9E;
    /* font-size: clamp(14px, 3.4vw, 24px); */
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
}

/* ============ Company Section End ================= */
.company-list-item {
    background: #151515;
    padding: 30px;
    border-radius: 20px;
    height: 384px;
    font-size: clamp(18px, 1.4vw, 21px);
}

.company-overly {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.company-overly img {
    width: 100%;
}


.footer-shadow {
    position: absolute;
    bottom: 0;
    z-index: 11;
    width: 100%;
    display: none;
}

.service-item-card span {
    position: absolute;
    top: -20px;
}

.service-item-card {
    position: relative;
}

.accordion-button::after {
    margin-left: 9px;
    background-color: #ddd;
    border-radius: 50%;
    color: #fff;
    width: 28px;
    height: 28px;
    background-position: center;
    margin-top: 10px;
}

.footer-link {
    font-size: 24px;
    padding: 5px 0;
    width: 100%;
    background: radial-gradient(469.05% 92.64% at 46.45% 50.00%, #F7F7F7 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}