@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
}

/*===== VARIABLES CSS =====*/

:root {
  /*========== Colors ==========*/
  --main-color: #007aff;
  --second-color: #000;
  --black-color: #000000;
  --title-color: #393939;
  --white-color: #ffffff;
  /*========== Font and typography ==========*/
  --body-font: "Inter", sans-serif;
  --sec-title-font: 25px;
  --p-font: 18px;
  --m-title: 30.25px;
  --l-title: 36.79px;
  --p-font-height: 27px;
  --lp-font-height: 25px;
  --title-font: 40px;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margin ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ==================CSS Variable END========= */

/*========== BASE ==========*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white-color);
  font-size: var(--p-font);
  font-weight: 400;
  background: var(--second-color);
  font-family: var(--body-font);
  line-height: var(--p-font-height);
  overflow-x: hidden;
}

.container {
  max-width: 1540px;
}

img {
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

ul,
ol {
  padding: 0;
  list-style: none;
}

button:focus {
  outline: none;
}

/* ============================GENERAL STYLE END======= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
label {
  margin: 0;
}

.ovh {
  overflow: hidden;
}

table.table {
  white-space: nowrap;
}

.custom-btn {
  padding: 4px 18px;
  font-size: 20px;
  color: var(--white-color);
  transition: 0.3s;
  font-weight: 700;
  background: var(--main-color);
  border-radius: 45px;
  border: 2px solid var(--main-color);
  letter-spacing: -1.1px;
}

.custom-btn:hover {
  background: none;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn:focus {
  outline: 0px;
  box-shadow: none;
}

.custom-btn-alt {
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: var(--white-color);
  transition: 0.3s;
}

a.cta-alt-btn {
  color: #fff;
  border-color: #161616;
  transition: .3s;
}

a.cta-alt-btn:hover {
  background: var(--main-color);
  border-color: var(--main-color);
}