nav.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

a.nav-link i {
  font-size: 25px;
}

.cta-language {
  display: flex;
  align-items: center;
  gap: 143px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  background: radial-gradient(
    65.5% 117.12% at 37.83% 60.96%,
    #cecdcd 16.95%,
    rgba(242, 242, 242, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: 0.3s; */
  font-weight: 700;
  outline: none;
  border: none;
}

.nav-item:hover .nav-link {
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.language-link {
  font-weight: 700;
  background: radial-gradient(
    469.05% 92.64% at 46.45% 50%,
    #f7f7f7 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 10px;
  display: flex;
}

.header {
  padding: 15px 0;
  /* position: fixed; */
  width: 100%;
  z-index: 999;
  background: #000;
}

.mega-menu {
  position: absolute;
  left: 0;
  right: 0;
  /* padding: 50px 0; */
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 99;
  height: 100vh;
  /* background: #000000a6; */
  overflow-y: auto;
  -webkit-backdrop-filter: blur(10px);
}

li.nav-item:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.mega-menu-heading h5 {
  font-size: 30px;
  font-weight: 700;
  color: #5a5a5a;
}

.mega-menu-heading h3 {
  color: #d7d7d7;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.mega-menu-heading {
  margin-bottom: 24px;
}

.service-menu h5 {
  color: #ab0026;
  font-size: 20px;
  font-weight: 700;
}

.service-menu {
  line-height: 195%;
}

.menu-title h3 {
  font-size: 30px;
  font-weight: 700;
  color: #5a5a5a;
  margin-bottom: 7px;
  /* line-height: 104px; */
  /* 216.667% */
  letter-spacing: -2.64px;
}

a.mega-link {
  color: #d7d7d7;
  font-size: 36px;
  font-weight: 700;
  transition: 0.3s;
  width: 100%;

  /* 126.389% */
  letter-spacing: -1.98px;
}

a.mega-link:hover {
  color: var(--main-color);
}

.social-service h3,
.social-service ul li a {
  font-size: 20px !important;
}

.mega-wrapper {
  margin-bottom: 20px;
}

.faq__que {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__que button {
  background: none;
  border: none;
  color: #d7d7d7;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
}

.faq__ans {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  line-height: 170%;
  font-weight: 700;
  padding: 10px 0;
}

.faq__content {
  margin-bottom: 10px;
}

a.blog-title {
  color: #d7d7d7;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 17px;
  line-height: 135%;
}

img.blog-img {
  width: 100%;
}

ul.social-icon-link {
  display: flex;
  gap: 17px;
  margin-top: 10px;
}

.service-menu h5 {
  margin-bottom: 10px;
}

/* =======================responsive header=================== */

.mobile-nav {
  padding: 10px;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

ul.social-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul.menu-footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-nav {
  display: none;
}

ul.menu-footer-link li a {
  color: #3f3f3f;
  border-bottom: 2px solid #3f3f3f;
  font-weight: 700;
  transition: 0.3s;
}

.menu-bottom p {
  color: #3f3f3f;
}

ul.menu-footer-link li a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu-close {
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 50%;
  background: #9b8b8b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu {
  position: fixed;
  z-index: 999;
  top: -300%;
  left: 0;
  right: 0;
  /* bottom: 0; */
  background: #000000de;
  padding: 50px;
  backdrop-filter: blur(16px);
  overflow-y: auto;
  transition: 0.3s;
}

.side-menu.active {
  top: 0;
  bottom: 0;
}

.side-menu::-webkit-scrollbar {
  width: 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1370px) {
  .cta-language {
    gap: 20px;
  }
}

@media screen and (max-width: 1230px) {
  .header {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menu-title h3 {
    font-size: 18px;
  }

  a.mega-link {
    font-size: 20px;
  }

  a.social-link img {
    width: 30px;
  }

  ul.menu-footer-link li a {
    font-size: 15px;
  }

  .menu-bottom p {
    font-size: 13px;
  }

  .side-menu {
    padding: 20px;
  }

  .logo img {
    width: 130px;
  }
}

.mega-menu .container-fluid {
  background: #000000a6;
  height: fit-content;
  padding-top: 50px;
  overflow-y: auto;
  padding-bottom: 70px;
}

.mega-text {
  color: #d7d7d7;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1.1px;
}

/* ===============responsive=============== */
@media screen and (max-width: 1441px) {

  .mega-menu-heading h5 {
    font-size: 25px;
    font-weight: 600;
  }
  a.mega-link {
    font-size: 31px;
  }
  .mega-menu-heading h3 {
    font-size: 31px;
  }
  .menu-title h3 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1.64px;
  }
  .social-service h3,
  .social-service ul li a {
    font-size: 20px !important;
    letter-spacing: 0px;
  }
  .faq__ans {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  a.blog-title {
    font-size: 31px;
  }
  .icon-link img {
    width: 60px;
  }
}
