/* ===============Banner============ */
.banner-content {
  text-align: center;
}

.banner-content h1 {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 128px;
  line-height: 100%;
  font-weight: 700;
  background: radial-gradient(469.05% 92.64% at 46.45% 50%,
      #f7f7f7 0%,
      rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content h1 span {
  background: radial-gradient(638.83% 111.98% at 37.73% 67.6%,
      #00adef 0%,
      rgba(7, 23, 150, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content p {
  color: #ab0026;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  /* 335% */
  letter-spacing: -1.1px;
}

.banner-content h4 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: 700;
  margin-top: 21px;
  letter-spacing: -1.98px;
  background: radial-gradient(23.94% 69.59% at 50.12% 56.38%, #989898 0%, rgba(206, 198, 198, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-button {
  margin-top: 75px;
}

.banner {
  padding-top: 50px;
  position: relative;
  padding-bottom: 327px;
}

.banner-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-img img {
  width: 100%;
  z-index: -1;
}

.banner .container {
  z-index: 1;
  position: relative;
}

.bg-sine img {
  width: 100%;
}

/* =========================social media====================== */
.social-service-section {
  margin-top: -249px;
  position: relative;
  /* padding-bottom: 337px; */
  background: #000;
  -webkit-clip-path: polygon(50% 8%, 100% 0, 100% 100%, 49% 100%, 1% 100%, 0 0);
  overflow: hidden;
  clip-path: polygon(0% 8.532%, 0% 8.532%, 0.077% 7.07%, 0.298% 5.693%, 0.65% 4.419%, 1.121% 3.27%, 1.696% 2.264%, 2.363% 1.421%, 3.108% 0.761%, 3.918% 0.305%, 4.78% 0.07%, 5.68% 0.078%, 50.26% 6.689%, 94.315% 0.088%, 94.315% 0.088%, 95.216% 0.079%, 96.078% 0.312%, 96.889% 0.768%, 97.634% 1.427%, 98.302% 2.27%, 98.878% 3.276%, 99.349% 4.426%, 99.702% 5.7%, 99.923% 7.078%, 100% 8.541%, 100% 100%, 0% 100%, 0% 8.532%);
}

.slider-social {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  transform: rotate(6deg);
  overflow: hidden;
  margin-top: 70px;
  padding-left: 47px;
}

.roted-ulter {
  transform: rotate(-6deg);
  padding-right: 46px;
}

.slider-social::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 1px;
  background: #0b0a0ad4;
  border-radius: 100%;
  z-index: 1111;
  box-shadow: 1px 1px 50px 100px #000000c9;
  left: 0;
}

.slider-social::after {
  content: "";
  position: absolute;
  width: 86px;
  height: 1px;
  background: #0b0a0ad4;
  border-radius: 100%;
  z-index: 1111;
  box-shadow: 1px 1px 50px 100px #000000c9;
  right: 0;
}

.slider-item h2 {
  font-size: 30px;
  white-space: nowrap;
  color: #c8c8c8;
}

.slider-item {
  background: #000;
  border-radius: 30px;
  padding-bottom: 20px;
}

.blog-image img {
  width: 100%;
}

.blog-content {
  margin: 20px 0;
  position: relative;
  font-size: 20px;
  letter-spacing: -1.1px;
  font-weight: 700;
}

.blog-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 124px;
  background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.blog-post-top {
  margin-top: 179px;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.blog-post-slider {
  margin-top: 200px;
}

.blog-post-top-title h1 {
  background: radial-gradient(361.68% 108.25% at 25.11% 50%,
      #e0dede 23.96%,
      rgba(255, 255, 255, 0) 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(30px, 3.4vw, 64px);
  letter-spacing: -3.52px;
  line-height: 98%;
}

.blog-post-top-title h3 {
  color: #ab0026;
  font-size: clamp(25px, 2.4vw, 40px);
  font-weight: 700;
  letter-spacing: -2.2px;
}

.slider-nav {
  background-color: #3f3f3f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-nav::after {
  font-size: 20px;
  color: #000000;
}

.blog-post-rac {
  position: absolute;
  top: 0;
  /* left: 38%; */
  width: 400px;
  /* z-index: 0; */
}

.blog-post-top-title {
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.view-btn-area {
  position: relative;
  padding: 106px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-btn-area h2 {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  font-size: 64px;
  font-weight: 700;
  top: 30px;
  z-index: -2;
}

.view-btn-area::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5467436974789917) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: -1;
}

/* ===================Tabs area =============== */
.tab-area-wrapper {
  padding: 161px 0;
  padding-bottom: 241px;
  background: #ddd;
  margin-top: -100px;
  -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(0% 8.532%, 0% 8.532%, 0.077% 7.07%, 0.298% 5.693%, 0.65% 4.419%, 1.121% 3.27%, 1.696% 2.264%, 2.363% 1.421%, 3.108% 0.761%, 3.918% 0.305%, 4.78% 0.07%, 5.68% 0.078%, 50.26% 6.689%, 94.315% 0.088%, 94.315% 0.088%, 95.216% 0.079%, 96.078% 0.312%, 96.889% 0.768%, 97.634% 1.427%, 98.302% 2.27%, 98.878% 3.276%, 99.349% 4.426%, 99.702% 5.7%, 99.923% 7.078%, 100% 8.541%, 100% 100%, 0% 100%, 0% 8.532%);
}

.tab-title-area {
  text-align: center;
}

.tab-title-area h2 {
  background: radial-gradient(34.66% 771.39% at 78.83% -22.38%, #000 5.49%, #504E4E 50.35%, #000 72.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(40px, 4.4vw, 96px);
  line-height: 85.5px;
  /* 178.125% */
  letter-spacing: -2.64px;
}

.tab-title-area h3 {
  background: radial-gradient(51.66% 200.39% at 78.83% -22.38%, #000 5.49%, #504E4E 50.35%, #000 72.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(20px, 3.4vw, 48px);
}

.tab-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* overflow: scroll; */
}

.nav-tab-ul {
  border-radius: 50px;
  background: #232323;
  box-shadow: 15px 20px 40px 2px #000;
  border: none;
  padding: 5px;
  flex-wrap: initial;
  overflow-x: auto;
}

.nav-tab-ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.nav-tabs-btn {
  background: none;
  padding: 8px 30px;
  color: var(--white-color);
  border: none;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50px;
  font-size: clamp(14px, 3.4vw, 24px);
}

.nav-tabs-btn.active {
  background: #727272;
}

.tab-item {
  margin-top: 52px;
  background: #000;
  border-radius: 15px;
  padding: 107px 100px;
  -webkit-clip-path: polygon(50% 4%, 100% 0, 98% 50%, 100% 100%, 50% 96%, 0 100%, 2% 50%, 0 0);
  clip-path: polygon(0.074% 9.073%, 0.074% 9.073%, 0.056% 7.608%, 0.15% 6.206%, 0.345% 4.893%, 0.632% 3.692%, 1% 2.626%, 1.441% 1.719%, 1.945% 0.994%, 2.502% 0.476%, 3.103% 0.186%, 3.737% 0.15%, 50.173% 7.2%, 96.288% 0.161%, 96.288% 0.161%, 96.926% 0.197%, 97.53% 0.49%, 98.09% 1.015%, 98.595% 1.748%, 99.037% 2.664%, 99.406% 3.741%, 99.691% 4.953%, 99.883% 6.277%, 99.972% 7.689%, 99.948% 9.164%, 97.63% 50.824%, 97.63% 50.824%, 97.619% 51.035%, 97.611% 51.247%, 97.605% 51.46%, 97.602% 51.673%, 97.601% 51.885%, 97.603% 52.098%, 97.607% 52.311%, 97.614% 52.523%, 97.623% 52.735%, 97.635% 52.947%, 99.911% 90.79%, 99.911% 90.79%, 99.941% 92.255%, 99.86% 93.66%, 99.677% 94.982%, 99.401% 96.197%, 99.041% 97.28%, 98.608% 98.208%, 98.111% 98.956%, 97.558% 99.501%, 96.96% 99.818%, 96.327% 99.884%, 50.173% 95.04%, 3.695% 99.891%, 3.695% 99.891%, 3.066% 99.826%, 2.472% 99.513%, 1.922% 98.975%, 1.427% 98.236%, 0.994% 97.319%, 0.634% 96.247%, 0.356% 95.044%, 0.17% 93.734%, 0.083% 92.339%, 0.107% 90.884%, 2.211% 52.863%, 2.211% 52.863%, 2.221% 52.668%, 2.229% 52.473%, 2.234% 52.277%, 2.238% 52.081%, 2.239% 51.886%, 2.239% 51.69%, 2.236% 51.494%, 2.231% 51.298%, 2.224% 51.102%, 2.216% 50.907%, 0.074% 9.073%);
  padding-bottom: 55px;
}

.tab-image img {
  width: 80%;
}

.tab-content h3 {
  font-size: clamp(30px, 3.1vw, 64px);
  font-weight: 700;
  line-height: 90%;
}

.tab-content-title {
  background: radial-gradient(9014.37% 180.68% at 92.84% 38.46%, #2C2A2A 0%, #4F4E50 33.77%, #C621EF 52.05%, #3000EF 68.45%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title span.tab-1-title-color {
  background: rgb(41, 1, 154);
  background: linear-gradient(90deg, rgba(41, 1, 154, 1) 0%, rgba(162, 29, 171, 1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-paragraph {
  font-size: 24px;
  font-weight: 700;
  background: radial-gradient(61.51% 94.61% at 48.89% 39.96%, #FFF 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 129%;
}

.tab-paragraph p {
  margin: 15px 0;
}

.color-text-tab-1 {
  background: radial-gradient(206.16% 79.04% at 24.28% 81.47%, #C322EC 0%, #2E01E3 56.41%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text-tab-2 {
  background: radial-gradient(165.51% 94.61% at 48.89% 39.96%, #C0F 0%, #242FAE 67.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content {
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-top: 50px; */
  position: relative;
}

.tab-content-title2 {
  background: rgb(64, 11, 180);
  background: radial-gradient(circle, rgba(64, 11, 180, 1) 0%, rgba(203, 73, 185, 1) 50%, rgba(171, 170, 169, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title3 {
  background: rgb(74, 194, 0);
  background: linear-gradient(90deg, rgba(74, 194, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text-tab-3 {
  background: radial-gradient(165.51% 94.61% at 48.89% 39.96%, #4AC301 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title4 {
  background: rgb(255, 208, 40);
  background: linear-gradient(90deg, rgba(255, 208, 40, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text-tab-4 {
  background: radial-gradient(80.23% 76.61% at 37.88% 43.25%, #F4C727 0%, #00440F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title5 {
  background: rgb(83, 0, 20);
  background: linear-gradient(90deg, rgba(83, 0, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.color-text-tab-5 {
  background: radial-gradient(90.50% 77.55% at 47.43% 24.60%, #AD3350 21.88%, #330014 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* =====================immer section=========== */
.immer {
  background-image: url(../img/bg-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  padding-bottom: 486px;
  -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 99%, 0 0);
  clip-path: polygon(0% 8.532%, 0% 8.532%, 0.077% 7.07%, 0.298% 5.693%, 0.65% 4.419%, 1.121% 3.27%, 1.696% 2.264%, 2.363% 1.421%, 3.108% 0.761%, 3.918% 0.305%, 4.78% 0.07%, 5.68% 0.078%, 50.26% 6.689%, 94.315% 0.088%, 94.315% 0.088%, 95.216% 0.079%, 96.078% 0.312%, 96.889% 0.768%, 97.634% 1.427%, 98.302% 2.27%, 98.878% 3.276%, 99.349% 4.426%, 99.702% 5.7%, 99.923% 7.078%, 100% 8.541%, 100% 100%, 0% 100%, 0% 8.532%);
  margin-top: -205px;
  border-radius: 20px 21px 0 0;
}

.immer-title h2 {
  font-size: clamp(35px, 4.4vw, 96px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -5.28px;
  line-height: 88%;
}

.immer-pragrap {
  text-align: right;
  padding-left: 100px;
}

.immer-title-color {
  font-size: clamp(35px, 4.4vw, 96px);
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(177deg, #990101 20.74%, rgba(128, 5, 52, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.immer-pragrap p {
  font-size: clamp(17px, 2vw, 35px);
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 29px;
}

.immer-title {
  margin-bottom: 64px;
}

/* =====================digital================== */
.digital-content img {
  width: 100%;
}

.top-content {
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: -98px;
}

.digital-content {
  position: relative;
  padding-top: 139px;
  padding-bottom: 258px;
}

.bottom-content h2,
.top-content h2 {
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  background: radial-gradient(24.82% 311.02% at 53.75% 17.71%, #FFF 3.65%, #FEB579 27.60%, rgba(47, 47, 47, 0.97) 79.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -8.25px;
  /* 65.667% */
  line-height: 100%;
}

h2.degital-title-top {
  background: radial-gradient(18.32% 229.33% at 50.00% 69.27%, #FFF 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degital-section {
  -webkit-clip-path: polygon(0% 3.714%, 0% 3.714%, 0.083% 3.053%, 0.321% 2.433%, 0.7% 1.863%, 1.205% 1.354%, 1.819% 0.913%, 2.527% 0.55%, 3.316% 0.275%, 4.168% 0.097%, 5.07% 0.025%, 6.005% 0.068%, 49.819% 4.87%, 49.819% 4.87%, 49.979% 4.886%, 50.14% 4.898%, 50.302% 4.907%, 50.463% 4.912%, 50.625% 4.914%, 50.787% 4.912%, 50.948% 4.906%, 51.109% 4.897%, 51.27% 4.884%, 51.431% 4.868%, 93.976% 0.087%, 93.976% 0.087%, 94.913% 0.041%, 95.816% 0.111%, 96.671% 0.288%, 97.462% 0.563%, 98.174% 0.925%, 98.79% 1.366%, 99.296% 1.876%, 99.677% 2.447%, 99.917% 3.068%, 100% 3.731%, 100% 96.015%, 100% 96.015%, 99.932% 96.613%, 99.734% 97.181%, 99.419% 97.711%, 98.995% 98.194%, 98.475% 98.624%, 97.868% 98.993%, 97.185% 99.293%, 96.438% 99.517%, 95.637% 99.657%, 94.792% 99.705%, 50.339% 99.705%, 5.208% 99.705%, 5.208% 99.705%, 4.364% 99.657%, 3.562% 99.517%, 2.815% 99.293%, 2.132% 98.993%, 1.525% 98.624%, 1.005% 98.194%, 0.581% 97.711%, 0.266% 97.181%, 0.068% 96.613%, 0% 96.015%, 0% 3.714%);
  margin-top: -161px;
  background: #000;
  padding-top: 70px;
  /* padding-bottom: 100px; */
  clip-path: polygon(0% 3.714%, 0% 3.714%, 0.083% 3.053%, 0.321% 2.433%, 0.7% 1.863%, 1.205% 1.354%, 1.819% 0.913%, 2.527% 0.55%, 3.316% 0.275%, 4.168% 0.097%, 5.07% 0.025%, 6.005% 0.068%, 49.819% 4.87%, 49.819% 4.87%, 49.979% 4.886%, 50.14% 4.898%, 50.302% 4.907%, 50.463% 4.912%, 50.625% 4.914%, 50.787% 4.912%, 50.948% 4.906%, 51.109% 4.897%, 51.27% 4.884%, 51.431% 4.868%, 93.976% 0.087%, 93.976% 0.087%, 94.913% 0.041%, 95.816% 0.111%, 96.671% 0.288%, 97.462% 0.563%, 98.174% 0.925%, 98.79% 1.366%, 99.296% 1.876%, 99.677% 2.447%, 99.917% 3.068%, 100% 3.731%, 100% 96.015%, 100% 96.015%, 99.932% 96.613%, 99.734% 97.181%, 99.419% 97.711%, 98.995% 98.194%, 98.475% 98.624%, 97.868% 98.993%, 97.185% 99.293%, 96.438% 99.517%, 95.637% 99.657%, 94.792% 99.705%, 50.339% 99.705%, 5.208% 99.705%, 5.208% 99.705%, 4.364% 99.657%, 3.562% 99.517%, 2.815% 99.293%, 2.132% 98.993%, 1.525% 98.624%, 1.005% 98.194%, 0.581% 97.711%, 0.266% 97.181%, 0.068% 96.613%, 0% 96.015%, 0% 3.714%);
  position: relative;
}

.bottom-content {
  text-align: center;
  /* margin-top: 50px; */
}


.service {
  padding-top: 280px;
  padding-bottom: 123px;
  background: #dfdfdf;
  -webkit-clip-path: polygon(0% 9.729%, 0% 9.729%, 0.007% 9.422%, 0.028% 9.116%, 0.062% 8.813%, 0.11% 8.512%, 0.171% 8.215%, 0.246% 7.922%, 0.334% 7.633%, 0.434% 7.349%, 0.548% 7.072%, 0.674% 6.8%, 4.036% 0%, 10.573% 6.907%, 25.169% 9.68%, 50.182% 13.579%, 75.169% 9.68%, 90.104% 6.907%, 95.234% 0%, 99.124% 6.663%, 99.124% 6.663%, 99.288% 6.962%, 99.435% 7.269%, 99.565% 7.586%, 99.679% 7.91%, 99.776% 8.241%, 99.856% 8.578%, 99.919% 8.919%, 99.964% 9.265%, 99.991% 9.615%, 100% 9.967%, 100% 100%, 0% 100%, 0% 9.729%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -360px;
  clip-path: polygon(0% 9.729%, 0% 9.729%, 0.007% 9.422%, 0.028% 9.116%, 0.062% 8.813%, 0.11% 8.512%, 0.171% 8.215%, 0.246% 7.922%, 0.334% 7.633%, 0.434% 7.349%, 0.548% 7.072%, 0.674% 6.8%, 4.036% 0%, 10.573% 6.907%, 25.169% 9.68%, 50.182% 13.579%, 75.169% 9.68%, 90.104% 6.907%, 95.234% 0%, 99.124% 6.663%, 99.124% 6.663%, 99.288% 6.962%, 99.435% 7.269%, 99.565% 7.586%, 99.679% 7.91%, 99.776% 8.241%, 99.856% 8.578%, 99.919% 8.919%, 99.964% 9.265%, 99.991% 9.615%, 100% 9.967%, 100% 100%, 0% 100%, 0% 9.729%);
}

.bg-sine {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.service::before {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  box-shadow: 20px 0px 700px 100px #070707;
  transform: rotate(1deg);
}

/* ====================service ================ */
.service-card-wrapper {
  background: #000;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 7%);
  /* border-radius: 100px; */
  padding: 135px 90px;
  clip-path: polygon(0.321% 9.564%, 0.321% 9.564%, 0.416% 7.993%, 0.691% 6.513%, 1.129% 5.147%, 1.714% 3.915%, 2.429% 2.838%, 3.256% 1.938%, 4.181% 1.237%, 5.185% 0.754%, 6.253% 0.513%, 7.367% 0.533%, 49.598% 6.449%, 49.598% 6.449%, 49.725% 6.465%, 49.852% 6.477%, 49.979% 6.486%, 50.106% 6.491%, 50.233% 6.493%, 50.36% 6.491%, 50.487% 6.486%, 50.614% 6.477%, 50.741% 6.464%, 50.868% 6.448%, 92.627% 0.543%, 92.627% 0.543%, 93.742% 0.522%, 94.811% 0.762%, 95.816% 1.244%, 96.741% 1.945%, 97.569% 2.845%, 98.284% 3.922%, 98.87% 5.154%, 99.308% 6.521%, 99.584% 8.001%, 99.679% 9.573%, 99.679% 81.548%, 99.679% 81.548%, 99.611% 82.876%, 99.411% 84.149%, 99.09% 85.351%, 98.655% 86.467%, 98.117% 87.483%, 97.485% 88.382%, 96.767% 89.152%, 95.973% 89.776%, 95.111% 90.239%, 94.192% 90.527%, 51.021% 99.446%, 51.021% 99.446%, 50.837% 99.48%, 50.652% 99.507%, 50.467% 99.526%, 50.282% 99.537%, 50.096% 99.541%, 49.911% 99.537%, 49.725% 99.526%, 49.54% 99.507%, 49.355% 99.481%, 49.171% 99.446%, 5.812% 90.523%, 5.812% 90.523%, 4.892% 90.236%, 4.03% 89.773%, 3.235% 89.149%, 2.517% 88.38%, 1.884% 87.48%, 1.346% 86.464%, 0.911% 85.348%, 0.589% 84.146%, 0.389% 82.872%, 0.321% 81.543%, 0.321% 9.564%);
}

.service-card-inner {
  text-align: center;
}

.name-image {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.service-btn-area {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 40px;
  background: #3F3F3F;
}

.service-card {
  background: #212121;
  padding: 30px;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 5%);
  clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 5%);
  border-radius: 41px;
}

.service-card-inner h3 {
  background: radial-gradient(63.01% 107.98% at 48.89% 39.96%, #FFF 0%, #676767 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20px;
}

.name-image h2 {
  background: rgb(79, 1, 31);
  background: linear-gradient(90deg, rgba(79, 1, 31, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(20px, 2.4vw, 38px);
  text-align: left;
}

.price-text {
  color: var(--white-color);
  padding: 0 10px;
}

h2.service-name2 {
  background: rgb(146, 104, 78);
  background: linear-gradient(90deg, rgba(146, 104, 78, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.service-name3 {
  background: rgb(0, 122, 255);
  background: linear-gradient(90deg, rgba(0, 122, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 41px;
  padding-bottom: 30px;
}

.cta-alt-btn {
  border: 2px solid #6D6D6D;
  border-radius: 50px;
  padding: 8px 30px;
  font-weight: 700;
  color: #6D6D6D;
  background: #161616;
  box-shadow: 12px 10px 20px 3px #000000b3;
}

.shadow {
  box-shadow: 12px 10px 20px 3px #000000b3 !important;
}

.blog-post-slider {
  /* margin-left: -75%; */
  /* margin-right: -30%; */
  margin-top: 165px;
}

.tab-area-wrapper::before {
  content: "";
  /* left: 0; */
  /* right: 0; */
  top: 10%;
  bottom: 4%;
  position: absolute;
  background: #fffc;
  z-index: -1;
  box-shadow: 1px 1px 500px 100px #fff;
  width: 0;
  transform: rotate(1deg);
  border-radius: 50%;
}

.before-none::before {
  display: none;
}

.swiper-slide-active .blog-post-top-title {
  opacity: 1;
  visibility: visible;
}

/* @media screen and (max-width:1024px) {
  .blog-post-top-title {
    opacity: 1;
    visibility: visible;
  }
} */

@media screen and (max-width:500px) {
  .blog-content {
    font-size: 14px;
    line-height: 152%;
  }

  .blog-post-top-title {
    opacity: 0;
    visibility: hidden;
  }



  .swiper-slide-active .blog-post-top-title {
    opacity: 1;
    visibility: visible;
  }
}

.service-inner-wrapper {
  display: flex;
  align-items: end;
  height: 100%;
}

.second-service-col {
  padding-bottom: 71px;
}

.last-service-col {
  padding-bottom: 125px;
}


.tab-pane {
  display: block;
  filter: drop-shadow(10px 17px 29px black);
}

.logo-slider-wrapper::before {
  position: absolute;
  content: "";
  bottom: -100%;
  top: 0;
  background-image: url(../img/slider-bg.png);
  width: 100%;
  z-index: 111;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-slider-wrapper {
  position: relative;
}

.logo-slider-wrapper .row {
  z-index: 1;
  position: relative;
}

.mobile-slider {
  display: none;
}

.blog-slider .swiper-wrapper .swiper-slide {
  transform: scale(0.8);
  transition: .3s;
}

.blog-slider .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1);
}


.center-image-section {
  width: 100%;
  margin: auto;
  position: relative;
}

.center-home-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.center-main-img {
  position: relative;
}

.center-home-img img {
  width: 28%;
}

.blur-img {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -1%;
  right: -1%;
}

.blur-img img {
  width: 24%;
}


.desital-footer-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.border-shpa {
  position: absolute;
  top: -87px;
  z-index: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-shpa img {
  width: 100%;
  margin-top: 11%;
  margin-right: -20%;
}

.desital-footer-img img {
  width: 100%;
}

.company-list-item {
  height: 432px;
}

.tab-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-mobile-cta {
  display: none;
}

.mobile-shape {
  display: none;
}

.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000d6;
  right: 0;
  left: 0;
  z-index: 111;
  backdrop-filter: blur(13px);
  width: 100%;
}

.loading-screen.loaded {
  display: none;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-wrapper img {
  width: 100%;
  height: 100%;
}

.tab-content::before {
  content: "";
  position: absolute;
  background: #ffffff21;
  transform: rotate(45deg);
  box-shadow: 0px 0px 320px 32px #ffffff;
  top: 0;
  right: 55%;
  bottom: 0;
}

.tab-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.immer-pragrap p {
  background: radial-gradient(61.42% 204.63% at 48.89% 39.96%, #FFF 0%, rgba(0, 0, 0, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}