/* ===============Banner============ */
.banner-content {
  text-align: center;
}

.banner-content h1 {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  background: radial-gradient(469.05% 92.64% at 46.45% 50%,
      #f7f7f7 0%,
      rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content h1 span {
  background: radial-gradient(638.83% 111.98% at 37.73% 67.6%,
      #00adef 0%,
      rgba(7, 23, 150, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content p {
  color: #ab0026;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.banner-content h4 {
  background: radial-gradient(112.94% 77.59% at 56.12% 79.38%,
      #989898 0%,
      rgba(206, 198, 198, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
}

.banner-button {
  margin-top: 75px;
}

.banner {
  padding-top: 100px;
  position: relative;
  padding-bottom: 400px;
}

.banner-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-img img {
  width: 100%;
  z-index: -1;
}

.banner .container {
  z-index: 1;
  position: relative;
}

.bg-sine img {
  width: 100%;
}

/* =========================social media====================== */
.social-service-section {
  margin-top: -300px;
  position: relative;
  /* padding-bottom: 337px; */
  background: #000;
  -webkit-clip-path: polygon(50% 8%, 100% 0, 100% 100%, 49% 100%, 1% 100%, 0 0);
  clip-path: polygon(50% 8%, 100% 0, 100% 100%, 49% 100%, 1% 100%, 0 0);
  overflow: hidden;
}

.slider-social {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  transform: rotate(8deg);
  overflow: hidden;
  margin-top: 70px;
  margin-left: 47px;
}

.roted-ulter {
  transform: rotate(-16deg);
  margin-right: 46px;
}

.slider-social::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 1px;
  background: #0b0a0ad4;
  border-radius: 100%;
  z-index: 1111;
  box-shadow: 1px 1px 50px 100px #000000c9;
  left: 0;
}

.slider-social::after {
  content: "";
  position: absolute;
  width: 86px;
  height: 1px;
  background: #0b0a0ad4;
  border-radius: 100%;
  z-index: 1111;
  box-shadow: 1px 1px 50px 100px #000000c9;
  right: 0;
}

.slider-item h2 {
  font-size: 30px;
  white-space: nowrap;
  color: #c8c8c8;
}

.slider-item {
  background: #000;
  border-radius: 30px;
  padding-bottom: 20px;
}

.blog-image img {
  width: 100%;
}

.blog-content {
  margin: 20px 0;
  position: relative;
}

.blog-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 124px;
  background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.blog-post-top {
  margin-top: 179px;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.blog-post-slider {
  margin-top: 200px;
}

.blog-post-top-title h1 {
  background: radial-gradient(361.68% 108.25% at 25.11% 50%,
      #e0dede 23.96%,
      rgba(255, 255, 255, 0) 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(30px, 3.4vw, 64px);
}

.blog-post-top-title h3 {
  color: #ab0026;
  font-size: clamp(25px, 2.4vw, 40px);
  font-weight: 700;
}

.slider-nav {
  background-color: #3f3f3f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-nav::after {
  font-size: 20px;
  color: var(--white-color);
}

.blog-post-rac {
  /* position: absolute; */
  /* top: 121px; */
  /* left: 38%; */
  /* width: 400px; */
  /* z-index: 0; */
}

.blog-post-top-title {
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.view-btn-area {
  position: relative;
  padding: 106px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-btn-area h2 {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  font-size: 64px;
  font-weight: 700;
  top: 30px;
  z-index: -2;
}

.view-btn-area::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5467436974789917) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: -1;
}

/* ===================Tabs area =============== */
.tab-area-wrapper {
  padding: 124px 0;
  padding-bottom: 305px;
  background: #ddd;
  border-radius: 130px;
  -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.tab-title-area {
  text-align: center;
}

.tab-title-area h2 {
  background: radial-gradient(5251.66% 200.39% at 78.83% -22.38%, #000 5.49%, #504E4E 50.35%, #000 72.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(40px, 3.4vw, 96px);
}

.tab-title-area h3 {
  background: radial-gradient(5251.66% 200.39% at 78.83% -22.38%, #000 5.49%, #504E4E 50.35%, #000 72.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(20px, 3.4vw, 48px);
}

.tab-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* overflow: scroll; */
}

.nav-tab-ul {
  border-radius: 50px;
  background: #232323;
  box-shadow: 15px 20px 40px 2px #000;
  border: none;
  padding: 10px;
  flex-wrap: initial;
  overflow-x: auto;


}

.nav-tab-ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.nav-tabs-btn {
  background: none;
  padding: 8px 34px;
  color: var(--white-color);
  border: none;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50px;
  font-size: clamp(14px, 3.4vw, 24px);
}

.nav-tabs-btn.active {
  background: #727272;
}

.tab-item {
  background: #000;
  border-radius: 47px;
  padding: 60px 100px;
  -webkit-clip-path: polygon(50% 4%, 100% 0, 98% 50%, 100% 100%, 50% 96%, 0 100%, 2% 50%, 0 0);
  clip-path: polygon(50% 4%, 100% 0, 98% 50%, 100% 100%, 50% 96%, 0 100%, 2% 50%, 0 0);
}

.tab-image img {
  width: 100%;
}

.tab-content h3 {
  font-size: clamp(30px, 3.4vw, 59px);
  font-weight: 700;
}

.tab-content-title {
  background: radial-gradient(9014.37% 180.68% at 92.84% 38.46%, #2C2A2A 0%, #4F4E50 33.77%, #C621EF 52.05%, #3000EF 68.45%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title span.tab-1-title-color {
  background: rgb(41, 1, 154);
  background: linear-gradient(90deg, rgba(41, 1, 154, 1) 0%, rgba(162, 29, 171, 1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-paragraph {
  font-size: 24px;
  font-weight: 700;
  background: radial-gradient(165.51% 94.61% at 48.89% 39.96%, #FFF 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 129%;
}

.tab-paragraph p {
  margin: 10px 0;
}

.color-text-tab-1 {
  background: radial-gradient(206.16% 79.04% at 24.28% 81.47%, #C322EC 0%, #2E01E3 56.41%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text-tab-2 {
  background: radial-gradient(165.51% 94.61% at 48.89% 39.96%, #C0F 0%, #242FAE 67.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.tab-content-title2 {
  background: rgb(64, 11, 180);
  background: radial-gradient(circle, rgba(64, 11, 180, 1) 0%, rgba(203, 73, 185, 1) 50%, rgba(171, 170, 169, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title3 {
  background: rgb(74, 194, 0);
  background: linear-gradient(90deg, rgba(74, 194, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text-tab-3 {
  background: radial-gradient(165.51% 94.61% at 48.89% 39.96%, #4AC301 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title4 {
  background: rgb(255, 208, 40);
  background: linear-gradient(90deg, rgba(255, 208, 40, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text-tab-4 {
  background: radial-gradient(80.23% 76.61% at 37.88% 43.25%, #F4C727 0%, #00440F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content-title5 {
  background: rgb(83, 0, 20);
  background: linear-gradient(90deg, rgba(83, 0, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.color-text-tab-5 {
  background: radial-gradient(90.50% 77.55% at 47.43% 24.60%, #AD3350 21.88%, #330014 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* =====================immer section=========== */
.immer {
  background-image: url(../img/bg-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  padding-bottom: 300px;
  -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 99%, 0 0);
  clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 99%, 0 0);
  margin-top: -205px;
  border-radius: 100px 100px 0 0;
}

.immer-title h2 {
  font-size: clamp(35px, 4.4vw, 96px);
  font-style: normal;
  font-weight: 700;
}

.immer-pragrap {
  text-align: right;
}

.immer-title-color {
  font-size: clamp(35px, 4.4vw, 96px);
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(168deg, #990101 20.74%, rgba(128, 5, 52, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.immer-pragrap p {
  font-size: clamp(17px, 2.4vw, 35px);
  line-height: 120%;
  font-weight: 700;
}

.immer-title {
  margin-bottom: 64px;
}

/* =====================digital================== */
.digital-content img {
  width: 100%;
}

.top-content {
  position: absolute;
  top: 100px;
  text-align: center;
  left: 0;
  right: 0;
}

.digital-content {
  position: relative;
  padding-top: 254px;
  padding-bottom: 100px;
}

.bottom-content h2,
.top-content h2 {
  font-size: clamp(50px, 7.4vw, 120px);
  font-style: normal;
  font-weight: 700;
  background: radial-gradient(136.82% 311.02% at 53.75% 17.71%, #FFF 3.65%, #FEB579 27.60%, rgba(47, 47, 47, 0.97) 79.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.degital-title-top {
  background: radial-gradient(3476.32% 229.33% at 50.00% 69.27%, #FFF 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degital-section {
  -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 99%, 0 0);
  clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 99%, 0 0);
  margin-top: -161px;
  background: #000;
  padding-top: 70px;
}

.bottom-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}


.service {
  padding-top: 239px;
  padding-bottom: 229px;
  background: #bbb;
  -webkit-clip-path: polygon(11% 7%, 50% 10%, 89% 6%, 95% 0, 100% 7%, 100% 100%, 0 100%, 0 7%, 5% 0);
  clip-path: polygon(11% 7%, 50% 10%, 89% 6%, 95% 0, 100% 7%, 100% 100%, 0 100%, 0 7%, 5% 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-sine {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.service::before {
  content: "";
  /* left: 0; */
  /* right: 0; */
  top: 10%;
  bottom: 4%;
  position: absolute;
  background: #fffc;
  z-index: -1;
  box-shadow: 1px 1px 500px 100px #fff;
  width: 0;
  transform: rotate(1deg);
  border-radius: 50%;
}

/* ====================service ================ */
.service-card-wrapper {
  background: #000;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 7%);
  clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 7%);
  border-radius: 100px;
  padding: 90px;
}

.service-card-inner {
  text-align: center;
}

.name-image {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.service-btn-area {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  padding: 6px;
  border-radius: 40px;
}

.service-card {
  background: #212121;
  padding: 30px;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 5%);
  clip-path: polygon(100% 0%, 100% 100%, 0 99%, 0 0, 50% 5%);
  border-radius: 41px;
}

.service-card-inner h3 {
  background: radial-gradient(63.01% 107.98% at 48.89% 39.96%, #FFF 0%, #676767 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20px;
}

.name-image h2 {
  background: rgb(79, 1, 31);
  background: linear-gradient(90deg, rgba(79, 1, 31, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: clamp(20px, 2.4vw, 38px);
  text-align: left;
}

.price-text {
  color: var(--white-color);
  padding: 0 10px;
}

h2.service-name2 {
  background: rgb(146, 104, 78);
  background: linear-gradient(90deg, rgba(146, 104, 78, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.service-name3 {
  background: rgb(0, 122, 255);
  background: linear-gradient(90deg, rgba(0, 122, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 41px;
  padding-bottom: 30px;
}

.cta-alt-btn {
  border: 2px solid #6D6D6D;
  border-radius: 50px;
  padding: 8px 30px;
  font-weight: 700;
  color: #6D6D6D;
  background: #161616;
  box-shadow: 12px 10px 20px 3px #000000b3;
}

.shadow {
  box-shadow: 12px 10px 20px 3px #000000b3 !important;
}

.blog-post-slider {
  margin-left: -75%;
  margin-right: -30%;
  margin-top: 165px;
}

.tab-area-wrapper::before {
  content: "";
  /* left: 0; */
  /* right: 0; */
  top: 10%;
  bottom: 4%;
  position: absolute;
  background: #fffc;
  z-index: -1;
  box-shadow: 1px 1px 500px 100px #fff;
  width: 0;
  transform: rotate(1deg);
  border-radius: 50%;
}

.before-none::before {
  display: none;
}

.swiper-slide-next .blog-post-top-title,
.swiper-slide-active .blog-post-top-title {
  opacity: 1;
  visibility: visible;
}

/* @media screen and (max-width:1024px) {
  .blog-post-top-title {
    opacity: 1;
    visibility: visible;
  }
} */

@media screen and (max-width:500px) {
  .blog-content {
    font-size: 14px;
    line-height: 152%;
  }

  .blog-post-top-title {
    opacity: 0;
    visibility: hidden;
  }

  .swiper-slide-next .blog-post-top-title {
    opacity: 0;
    visibility: hidden;
  }

  .swiper-slide-active .blog-post-top-title {
    opacity: 1;
    visibility: visible;
  }
}

.service-inner-wrapper {
  display: flex;
  align-items: end;
  height: 100%;
}

.second-service-col {
  padding-bottom: 100px;
}

.last-service-col {
  padding-bottom: 125px;
}